# Python
__pycache__/
*.py[cod]
*.so
src/settings.py

# Virtual environments
.venv
venv
.venv/

# IDEs and editors
.vscode/
.idea/
*.swp

# Alembic
alembic/versions/*.pyc

# Environment variables
.env

# Logs
*.log

# Database files
*.sqlite3

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg

# Testing
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints
